body {
    background-color: #f4c734;
    color: #383838;
    font-family: montserrat, sans-serif;
    padding: 20px;
    min-height: 100vh;
    text-align: center;
}

h1 {
    color: #b20000;
    font-family: peachy-keen-jf, sans-serif;
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
    text-shadow: 3px 3px 0px #C9A304;
    margin-bottom: 40px;
}

a {
    color: #383838;
}

a:hover {
    color: #b20000;
    transition: .3s all ease;
}

.burger-image {
    height: 200px;
    margin-bottom: 20px;
}

/* burger list styles */

.burger-item {
    margin-bottom: 20px;
}

.burger-id {
    color: #b20000;
    font-size: 14px;
    font-weight: 800;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: solid 3px #b20000;
}

.burger-name {
    font-size: 22px;
    font-weight: 600;
}

.devour-button {
    background-color: #b20000;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px 0px #C9A304;
    color: #f4c734;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    padding: 5px 20px;
    text-transform: uppercase;
}

.devoured {
    background-color: #C9A304;
    color: #b20000;
    cursor: not-allowed;
    box-shadow: none;
}

/* form styles */

#burgerForm {
    width: 100%;
}

.form-instruction {
    color: #b20000;
    font-family: peachy-keen-jf, sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    margin: 40px 0 0 0;
}

.form-input {
    min-height: 150px;
    width: 400px;
    border-radius: 15px;
    border: solid 2px #b20000;
    margin-bottom: 20px;
}

.submit-button {
    background-color: #b20000;
    border: none;
    border-radius: 30px;
    box-shadow: 3px 3px 0px #C9A304;
    color: #f4c734;
    cursor: pointer;
    font-family: peachy-keen-jf, sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 8px 24px;
}

.footer-text {
    font-size: 14px;
    margin-top: 40px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    ul {
        padding: 0;
    }

    .burger-image {
        height: 150px;
    }

    .burger-name {
        font-size: 20px;
    }

    .container{
        width: 100%;
        padding: 0;
    }

    .devour-button {
        font-size: 14px;
    }

    .form-input {
        min-height: 100px;
        width: 100%;
        border-radius: 10px;
    }
}